body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
    background: black;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	font-weight: inherit;
}


/*header*/

.main-header {
	background: black;
}

.main-header ul li a {
	color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
	max-width:  960px;
	padding-left: 10px;
	padding-right: 10px;
   margin: auto;
}

.main-header .container {
	display: flex;

}

.main-header ul li {
	display: flex;
	min-height: 70px;
}

.nav-item.login {
	margin-left: auto;
}

.nav-item.login::before {
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(img/login.svg);
	margin-top: auto;
	margin-bottom: auto;
}

.main-header ul .login a {
	margin-left: 15px;
}

.main-header ul li:hover {
	background: #242424;
	cursor: pointer;
}

.nav-item.active {
	flex-direction: column;
}

.nav-item.active::after {
	content: "";
	height: 4px;
	background-color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-item.active:hover {
	background-color: black;
	cursor: default;
}

@media (max-width: 610px) {
	.main-header {
		font-size: 10px;
	}

	.main-header ul li a {
	    margin-left: 10px;
	    margin-right: 10px;
	}

	.promo-slogan .slogan-item {
		width: 50%;
	}
}

@media (max-width: 400px) {
	.main-header ul li a {
	    margin-left: 5px;
	    margin-right: 5px;
	}

	.promo-slogan .slogan-item {
		width: 100%;
	}
}

/*end header*/
/*main-index*/
main.main-index {
	background-color: black;
	background-image: url(img/fone.png);
}
/*end main-index*/
/*index-promo*/
.index-promo {
	color: white;
}

.index-promo .logo {
	margin: auto;
	margin-bottom: 75px;
	padding-top: 55px;
	max-width: 371px;
	max-height: 155px;
}

.promo-slogan {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}

.slogan-item {
	width: 33.33%;
	text-align: center;
    display: block;
    padding: 0px 20px;
    box-sizing: border-box;
}

.slogan-item h3 {
	font-size: 30px;
	line-height: 42px;
}

.slogan-item h3::after {
	content: "";
	width: 30px;
	height: 30px;
	background-color: white;
	display: block;
    margin: auto;
    margin-top: 15px;
    transform: rotate(45deg);
}

/*about us*/
.about-us,
.contacts {
	background-image: url(img/background.png);
	background-repeat: repeat;
    display: flex;
    padding-top: 32px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/*end about us*/

.news,
.photogallery,
.contact-info,
.sing-up-for {
	width: 50%;
	margin-left: 80px;
}

img {
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
}

.news h2,
.photogallery h2,
.contact-info h2,
.sing-up-for h2 {
	font-size: 30px;
	line-height: 42px;
}

.news-item {
	margin-bottom: 30px;
}

.news-item p:nth-child(2) {
	margin-top: 0px;
}

.news-item p:first-child {
	margin-bottom: 0px;
}

.img-photogallery {
    width: fit-content;
}

.img-photogallery img {
	border: 8px solid white;
}

.button {
	width: 120px;
    display: block;
    background: black;
    color: white;
    text-align: center;
    border: none;
    line-height: 45px;
}

.button:hover,
.button:active {
	background-color: #663d15;
	cursor: pointer;
}

.button-block {
	display: flex;
	margin-top: 40px;
}

.button-block button:first-child {
	margin-right: 50px;
}

@media (max-width: 800px) {
	.news,
	.photogallery,
	.contact-info,
	.sing-up-for {
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.about-us,
	.contacts {
		flex-wrap: wrap;
	}

	.button-block button:first-child {
    	margin-right: 30px;
	}

	.separator {
		display: none;
	}
}

/*form*/

.input-row label {
    display: flex;
    flex-direction: column;
}

.sing-up-for form {
	display: flex;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 140px;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-right: 50px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f9f6f3;
}

input[type="text"]:focus {
	border-color: #663d15;
	outline: none;
}

button[type="submit"] {
	width: 330px;
}

@media (max-width: 800px) {
	input[type="text"] {
		width: 120px;
		height: 40px;
		padding-left: 10px;
		box-sizing: border-box;
		margin-right: 30px;
		border: 2px solid black;
	}

	button[type="submit"] {
		width: 270px;
	}
}

input[type="text"]::-moz-placeholder {color: #716f6e; font-weight: 700; }
input[type="text"]::-webkit-input-placeholder { color: #716f6e; font-weight: 700; }
input[type="text"]:-ms-input-placeholder { color: #716f6e; font-weight: 700; }
input[type="text"]::-ms-input-placeholder { color: #716f6e; font-weight: 700; }
input[type="text"]::placeholder { color: #716f6e; font-weight: 700; } 

/*footer*/
footer {
	background-image: url(img/BG-FOOTER.png);
	background-repeat: repeat;
	color: white;
	padding-bottom: 50px;
}

footer .container {
	display: flex;
}

footer .container section {
	width: 33.33%;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
}

footer .container .contact-footer {
	align-items: flex-start;
}

footer .container .lets-friend {
	align-items: center;
}

footer .container .dev-by{
	align-items: flex-end;
}

.dev-by b {
	padding-right: 20px;
	margin-bottom: 12.5px;
}

@media (max-width: 800px) {
	body .main-footer .container section {
		width: 100%;
		align-items: center;
	}
	footer .container {
		flex-wrap: wrap;
	}

	.dev-by b {
		padding-right: 0px;
	}

}

.social-icon {
	display: flex;
    margin-top: 10px;
}

.icon-item {
	background: black;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
}

.icon-item img {
	height: 22px;
	width: 22px;
}

footer p {
	margin: 0;
}

footer a:hover,
footer a:active {
	text-decoration: underline;
}

.icon-item:hover .icon-vk{
  content:url(img/vk_h.svg);
}

.icon-item:hover .icon-fb{
  content:url(img/facebook_h.svg);
}

.icon-item:hover .icon-insta{
  content:url(img/instagram_h.svg);
}

.icon-item:hover {
	background-color: white;
}

.modal {
	position: fixed;
	background-image: url(img/background.png);
	background-repeat: repeat;
	box-shadow: 10px 10px 40px 10px #00000085;
	display: none;
}

.login-form-modal {
    top: 120px;
    width: 460px;
    height: 385px;
    left: 30%;
    box-sizing: border-box;
    padding: 50px 80px;
}

.login-form-modal form input[type="text"] {
    margin-top: 0;
    width: 100%;
    padding-right: 40px;
}

@media (max-width: 600px) {
	.login-form-modal {
	    top: 0px;
	    width: 290px;
	    height: 335px;
	    left: 0%;
	    box-sizing: border-box;
	    padding: 20px 10px;
	}
}

.login-form-modal form button {
	width: 100%;
}

.remember-password {
	display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.remember-password label {
	padding-left: 30px;
	position: relative;
	cursor: pointer;
}

.remember-password label:hover,
.remember-password label:focus {
	color: #663d15;
}

.remember-password  a {
	margin-left: auto;
}

.modal-close {
	width: 22px;
	height: 22px;
	border: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -34px;
	font-size: 0px;
	background: none;
    padding: 0px;
}

.modal-close::before,
.modal-close::after {
	content: "";
	width: 22px;
	height: 2px;
	background-color: #d0d0d0;
	display: block;
}

.modal-close::before {
    position: absolute;
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
    position: absolute;
}

.input-login {
	background-image: url(img/user.svg);
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: center;
}

.input-password {
	background-repeat: no-repeat;
	background-image: url(img/lock.svg);
	background-position-x: 98%;
	background-position-y: center;
}

.visually-hidden {
	display: none;
}

.checkbox-indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid black;
	width: 17px;
	height: 17px;
}

input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
}

.checkbox-indicator:hover {
	border-color: #663d15;
	cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-indicator::before,  
input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	background-color: black;
	width: 18px;
	top: 8px;
}

input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}

.remember-password a:hover,
.remember-password a:active {
	color: #663d15;
}